# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Large Video Files (exceeding GitHub limit)
*.mp4
*.mkv
*.avi
*.mov
*.flv
*.wmv
projects/*/input_videos/*
!projects/*/input_videos/.gitkeep

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# IDE / Editor Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Scratch / Debug files
scratch/
